<div class="control-group">
  <label for="body" class="control-label">body</label>
  <div class="controls">
    <%- contentTag('input', comment.body, {type:'text', class:'span6', name:'body'}) %>
  </div>
</div>
