<div class="hero-unit">
  <h2>All Comments</h2>
  <%- linkTo('Create a new Comment', addCommentPath, {class: 'btn pull-right'}); %>
</div>

<div id="comments-list">
<% if (comments) { %>
<% for (var i = 0, ii = comments.length; i < ii; i++) { %>
  <div class="row list-item" id="comment-<%= comments[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(comments[i].id, commentPath(comments[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= comments[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>