<div class="control-group">
  <label for="text" class="control-label">text</label>
  <div class="controls">
    <%- contentTag('input', ticket.text, {type:'text', class:'span6', name:'text'}) %>
  </div>
</div>
